#Netbean project folders
/nbproject/private/
/nbproject

#Checkstyle reports
/style-report

#Composer files
composer.lock
/vendor

#logs
/tests/logs/

#Test config
/tests/_config/_users.php

#Misc
setup.sh
