<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd" bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="Global">
            <directory>./tests</directory>
        </testsuite>
        <testsuite name="Admin">
            <file>./tests/couchClientAdminTest.php</file>
        </testsuite>
        <testsuite name="Ordered">
            <file>./tests/Adapter/AbstractCouchHttpAdapterTest.php</file>
            <file>./tests/Adapter/CouchHttpAdapterCurlTest.php</file>
            <file>./tests/Adapter/CouchHttpAdapterSocketTest.php</file>
            <file>./tests/EnvUtilTest.php</file>
            <file>./tests/CouchTest.php</file>
            <file>./tests/CouchClientTest.php</file>
            <file>./tests/CouchClientViewTest.php</file>
            <file>./tests/CouchAdminTest.php</file>
            <file>./tests/CouchReplicatorTest.php</file>
            <file>./tests/CouchDocumentTest.php</file>
            <file>./tests/Exceptions/CouchExceptionTest.php</file>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-text" target="php://stdout"/>
    </logging>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
        </whitelist>
    </filter>
</phpunit>
